<?xml version="1.0" encoding="UTF-8" ?>
<configuration xmlns="http://ch.qos.logback/xml/ns/logback"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback
               https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>myApp.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
        <append>true</append>
        <!--表示记录方式为追加-->
    </appender>
    <!--滚动文件附加器-->
    <appender name="runFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>mylog2.log</file>

        <!--编码器-->
        <encoder>
            <pattern>%50date %msg</pattern>
        </encoder>
        <!--滚动策略-->
        <!--按照时间滚动生成-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>%d{yyyy-mm-dd HH-mm-ss}.log</fileNamePattern>
            <maxFileSize>10</maxFileSize>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    <!--滚动文件附加器-->
    <appender name="runFiletime" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>mylog3.log</file>

        <!--编码器-->
        <encoder>
            <pattern>%50date %msg</pattern>
        </encoder>
        <!--滚动策略-->
        <!--按照时间滚动生成-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>%d{yyyy-mm-dd HH-mm-ss}.%i.log</fileNamePattern>
            <maxFileSize>10</maxFileSize>
            <totalSizeCap>5GB</totalSizeCap>
            <maxFileSize>1KB</maxFileSize>
        </rollingPolicy>
    </appender>
<root level="info"></root>
    <logger name = "com.aa" level = "DEBUG" >
        <appender-ref ref="runFile"/>
        <appender-ref ref="runFiletime"/>
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </logger>

</configuration>