<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">



<configuration>
    <!--    导入properties数据文件-->
    <properties resource="jdbc.properties"/>
<!--    环境，可以配置多个数据源-->
<!--    <environments default="development">-->
    <environments default="test">

        <environment id="development">
            <transactionManager type="JDBC"/>
<!--            事务管理方式-->
            <dataSource type="POOLED">
<!--                数据库连接池-->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://alpine:3306/class"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>

        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${mysql.driver}"/>
                <property name="url" value="${mysql.url}"/>
                <property name="username" value="${mysql.username}"/>
                <property name="password" value="${mysql.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
<!--        <mapper resource="mapper/userMapper.xml"/>-->
<!--        新方法-->
        <package name="mapper"/>
    </mappers>


</configuration>