<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.sjjMapper">


    <resultMap id="sjjMapper" type="pojo.sjj">

        <result column="id" property="id"></result>
<!--        映射，将实体类中的属性与数据表中的属性做映射，适用于命名不一致的情况下-->
    </resultMap>
    <!--    此处填接口-->
    <select id="selectall" resultMap="sjjMapper">
        <!-- 此处田接口方法和返回类型，下面填具体语句-->
        select * from sjj;
    </select>





    <sql id="select_id">*</sql>
<!--    sql片段-->
    <select id="selectid" resultType="pojo.sjj">
        <!-- 此处田接口方法和返回类型，下面填具体语句-->
        select
            <include refid="select_id"></include>
            <!--导入sql片段-->
            from sjj where id= #{id};
    </select>

</mapper>